<div class="center hero-unit">
  <h1>A/B Testing Tools</h1>

  <h2>
    A/b Testing Tools
  </h2>
</div>

<div class="center">
	<%= form_tag("", method: "get") do %>
		<%= label_tag(:control_samples, "Control Samples")%>
		<%= number_field_tag(:control_samples) %>
		
		<%= label_tag(:control_conversions, "Control Conversions")%>
		<%= number_field_tag(:control_conversions)%>
		
		<%= label_tag(:var1_samples, "Variation Samples")%>
		<%= number_field_tag(:var1_samples) %>
		
		<%= label_tag(:var1_conversions, "Variation Conversions")%>
		<%= number_field_tag(:var1_conversions)%>
		
		<%= submit_tag("Calculate") %>
	
	<% end %>
</div>