<div class="row-fluid">
	<div class="hero-unit">
	  <h1>A/B Testing Tools</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<h2>Input your data</h2>
		
		<%= form_tag("/tests") do %>
	
			<div>
				<%= label_tag(:control_samples, "Control Samples")%>
				<%= number_field_tag(:control_samples) %>

				<%= label_tag(:control_conversions, "Control Conversions")%>
				<%= number_field_tag(:control_conversions)%>

				<%= label_tag(:var1_samples, "Variation Samples")%>
				<%= number_field_tag(:var1_samples) %>

				<%= label_tag(:var1_conversions, "Variation Conversions")%>
				<%= number_field_tag(:var1_conversions)%>
			</div>
		
			<%= submit_tag("Calculate", class: "btn btn-large btn-primary") %>
	
		<% end %>
	</div>
	<div class="span8">
		<h2>Results</h2>
		<table class="table">
			<theader>
				<tr>
					<th>Variation</th>
					<th>Samples</th>
					<th>Conversions</th>
					<th>Conversion Rate</th>
					<th>Confidence Interval</th>
				</tr>
			</theader>
			<tbody>
				<tr>
					<td>Control</td>
					<td><%= params[:control_samples] %></td>
					<td><%= params[:control_conversions] %></td>
					<td><%= number_to_percentage(@control_cvr, precision: 2) %></td>
					<td><%= number_to_percentage(@control_ci_minus, precision: 2) %> - <%=number_to_percentage(@control_ci_plus, precision: 2) %></td>
				</tr>
				<tr>
					<td>Variation 1</td>
					<td><%= params[:var1_samples] %></td>
					<td><%= params[:var1_conversions] %></td>
					<td><%= number_to_percentage(@var1_cvr, precision: 2) %></td>
					<td><%= number_to_percentage(@var1_ci_minus, precision: 2) %> - <%= number_to_percentage(@var1_ci_plus, precision: 2) %></td>
				</tr>
			</tbody>
		</table>
		<h4>Are your results significantly different?</h4>
		<p><%= @sig_diff %></p>
	</div>
</div>